@import 'https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro';

$transition-time: 0.15s;
$transition-time-fast: 0.15s;

body {
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu {
  width: 100%;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  /*margin: 10px;*/

  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
  }

  li {
    display: inline-block;
    margin-right: 15px;
  }
}

.image-thumb {
  height: 200px;
  position: relative;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.7);

    -webkit-transition: ease-in-out $transition-time;
    -moz-transition: ease-in-out $transition-time;
    -o-transition: ease-in-out $transition-time;
    transition: ease-in-out $transition-time;

    &:hover {
      background: rgba(0, 0, 0, 0.5);      

      .text {
        text-shadow: 1px 1px 7px black;
      }
    }

    .text {
      font-family: 'Fjalla One', sans-serif;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      text-shadow: none;

      -webkit-transition: ease-in-out $transition-time-fast;
      -moz-transition: ease-in-out $transition-time-fast;
      -o-transition: ease-in-out $transition-time-fast;
      transition: ease-in-out $transition-time-fast;

      .name {
        text-transform: uppercase;
        font-size: 30px;
      }

    }
  }
}
